node_modules/
generatedImages/
dist/
client-api/
client/
/.idea/
/.fleet/
*.http
/.run/
.vscode
.env
.env.local
tsconfig.tsbuildinfo
._*
!**/.gitkeep
shop.db
shop.db-shm
shop.db-wal
npm-debug.log
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db